<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendee</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/activity.css" />
    <script type="text/javascript" src="../static/js/activity.js"></script>
    <!-- <script type="text/javascript" src="../static/js/jquery.js"></script> -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
</head>

<body>
    <header>
        <img src="../static/img/logo.svg" class="logo" />
        <nav>
            <ul class="nav_links">
                <li><a href="{{url_for('index')}}">Main</a></li>
                <li><a href="{{url_for('activity')}}" rel="external nofollow">Activity</a></li>
                {%if name!="Visiter" %}
                <li><a href="{{url_for('myActivity')}}" rel="external nofollow">My Activity</a></li>
                {% endif %}
            </ul>
        </nav>
        <div>

            <span class="welcome">Welcome,{{name}}</span>
            <a href="#" class="cta"><button>Contact</button></a>
        </div>
    </header>
    <div class="container">
        {% if(role=="organiser") %}
        <button onclick="create()" id="createActivityBtn">Create Activity</button>{% endif %}
        <div class="activitesList">
            <table>
                <caption> Activity List</caption>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Status</th>
                        <th>Organiser Name</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ct in content %}
                    <tr>
                        <td>{{ ct.id }}</td>
                        <td>{{ ct.title }}</td>
                        <td>{{ ct.bgtime }}</td>
                        <td>{{ ct.endtime }}</td>
                        <td>{{ ct.status }}</td>
                        <td>{{ ct.organiser }}</td>
                        <td>
                            <a href="{{url_for('details', id=ct.id)}}">more</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="popWindow">
            <form action=" " method="post " class="smart-green " name="actiInfo">
                <h1>
                    New Activity Informations
                    <span>Please fill all the texts in the fields.</span>
                </h1>
                <label>
                    <span>Activity Title :</span>
                    <input id="title" type="text" name="title" placeholder="New Activity Title" required />
                </label>
                <label>
                    <span>Max number of Attendees :</span>
                    <input id="number" type="text" name="number" placeholder="10" required />
                </label>
                <label>
                    <span>Activity Status :</span>
                     <select id="status" name="status">
                        <option value="Normal">Normal</option>
                        <option value="Canceled">Canceled</option>
                     </select>
                </label>
                <br>
                <label>
                    <span>Begin:</span>&nbsp;&nbsp;
                        <input id="bgTime" type="datetime-local" name="bgTime"  required/>
                </label><br>
                <label>
                        <span>End:</span>&nbsp;&nbsp;
                        <input id="endTime" type="datetime-local" name="endTime" required/>
                </label>
                <label>
                    <span>Description :</span>
                    <textarea id="description" name="description" placeholder="Description about activity"></textarea>
                </label>
                <span>&nbsp;</span>
                <input type="button" class="button" value="Send" onclick="newActivity()" />
            </form>
        </div>
    </div>
</body>

</html>