<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organiser</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/details.css">
    <script type="text/javascript" src="../static/js/activity.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
</head>


<body>
    <header>
        <img src="../static/img/logo.svg" class="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="{{url_for('index')}}">Main</a></li>
                <li><a href="{{url_for('activity')}}" rel="external nofollow">Activity</a></li>
                {%if name!="Visiter" %}
                <li><a href="{{url_for('myActivity')}}" rel="external nofollow">My Activity</a></li>
                {% endif %}
            </ul>
        </nav>
        <div>
            <span class="welcome">Welcome,{{name}}</span>
            <a href="#" class="cta"><button>Contact</button></a>
        </div>

    </header>
    <div class="container">
        <div class="activity-content">
            <!-- 标题 -->
            <h1>{{content.title}}</h1>
            <label>
                <span class="title">Begin at :</span>
                <span>{{content.bgtime}}</span>
            </label>
            <label>
                <span class="title">End at :</span> 
                <span>{{content.endtime}}</span>
            </label>
            <label>
                <span class="title">Status:</span> 
                <span>{{content.status}}</span>
            </label>
            <label>
                <span class="title">Organiser:</span> 
                <span>{{content.organiser}}</span>
            </label>
            <br>
            <span class="title">Description:</span>
            <div class="description">
                {{content.description}}
            </div>
            <br><br>
            <span>Attendee:{{number}}/{{content.number}}</span>{%if content.number > number %} {%if name!="Visiter" %}
            <button id="join" onclick="buyTicket()">Join</button>{% endif %} {% else %}
            <button id="full" disabled>Full</button> {% endif %}
        </div>

    </div>
</body>

</html>