<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organiser</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/activity.css">
    <script type="text/javascript" src="../static/js/activity.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
</head>


<body>
    <header>
        <img src="../static/img/logo.svg" class="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="{{url_for('index')}}">Main</a></li>
                <li><a href="{{url_for('activity')}}" rel="external nofollow">Activity</a></li>
                <li><a href="{{url_for('myActivity')}}" rel="external nofollow">My Activity</a></li>
            </ul>
        </nav>
        <div>

            <span class="welcome">Welcome,{{name}}</span>
            <a href="#" class="cta"><button>Contact</button></a>
        </div>

    </header>
    <div class="container">
        <table>
            <caption>Attendee List</caption>
            <thead>
                <tr>
                    <th>Attendee Name</th>
                    <th>E-Mail</th>
                    <th>Role</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for ct in content %}
                <tr>
                    <td>{{ ct.username }}</td>
                    <td>{{ct.email}}</td>
                    <td>{{ ct.role }}</td>
                    <td>
                        {% if(ct.role!="organiser") %}
                        <a id="upTo" href="{{url_for('setRole', id=ct.id)}}">Set as organiser</a> {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>